


<h2 class="text-center">My profile</h2>
<article class="d-flex flex-column align-items-center">
  <img width="200" height="200" src="{{user.photo}}" alt="{{user.name}}" class="img-fluid rounded" />
  <p>Name: {{user.name}}</p>
  <p>Email: {{user.email}}</p>
  <p>Phone: {{user.phone}}</p>
  <a href="/users/logout">
    <button>Log out</button>
  </a>
</article>