<h2>Details of user</h2>
<article>
<div class="card" style="width: 18rem;">
      <img src="{{oneUser.photo}}" class="card-img-top" alt="image user" />
      <div class="card-body">
        <h5 class="card-title">{{#if oneUser.name}}
          {{oneUser.name}}
        {{else}}
         Not name
        {{/if}}
        </h5>
        <p class="card-text">{{oneUser.email}}</p>
        <p class="card-text">{{oneUser.role}}</p>
        <p class="card-text">{{oneUser.id}}</p>
      </div>
    </div>
</article>