<h2>PRODUCTS</h2>
<section class="d-flex flex-wrap justify-content-evenly">
  {{#each data}}
    <div class="card my-2" style="width: 18rem;">
      <img src="{{photo}}" class="card-img-top" alt="image products" />
      <div class="card-body">
        <h5 class="card-title">{{#if this.title}}
            {{this.title}}
          {{else}}
            Not title
          {{/if}}
        </h5>
        <p class="card-text">${{this.price}}</p>
        <p class="card-text">{{this.stock}}</p>
        <p class="card-text">{{this.id}}</p>

      </div>
      <a href="/products/{{this.id}}">
        <button type="button" class="btn btn-outline-success">Details products</button>
      </a>

    </div>

  {{/each}}
</section>